In [103]:
import pandas as pd
import json
from datetime import datetime

# Get the data

In [104]:
with open('./data/ebay_ev_sales_data.json') as f:
    data = json.load(f)

# Check keys collected for the columns

In [105]:
# repeatedly check here
keys = set()
for d in data:
    keys.update(d.keys())
keys

{'Body Type',
 'Condition',
 'Disability Equipped',
 'Doors',
 'Drive Side',
 'Drive Type',
 'Ended',
 'Engine',
 'Engine Description',
 'Exterior Color',
 'For Sale By',
 'Fuel',
 'Fuel Type',
 'Interior Color',
 'Located in',
 'Make',
 'Mileage',
 'Model',
 'Options',
 'Power Options',
 'Price',
 'Safety Features',
 'Seller Notes',
 'Sub Model',
 'Transmission',
 'Trim',
 'VIN (Vehicle Identification Number)',
 'Vehicle Title',
 'Warranty',
 'Winning bid',
 'Year',
 'ebay_item_id'}

In [106]:
# better names to info names
columns_map = {
    "Condition" : "Condition",
    "Price" : "Price",
    "Winning bid" : "Winning bid",
    "Location" : "Located in",
    "Time" : "Ended",
    "VIN" : 'VIN (Vehicle Identification Number)',
    "Make" : "Make",
    "Model" : "Model",
    "Year" : "Year",
    "Ebay Item ID": "ebay_item_id",
}
columns = list(columns_map.values())

# Get the data based on the columns

In [107]:
data_arr = []
for d in data:
    data_arr.append({c:d[c] if c in d.keys() else None for c in columns})

In [108]:
df = pd.DataFrame(data_arr)

In [109]:
df

,Condition,Price,Winning bid,Located in,Ended,VIN (Vehicle Identification Number),Make,Model,Year,ebay_item_id
0,Used,"|US $48,900.00|Best offer accepted| |This item...",None,"Memphis, Tennessee, United States","|May 16, 2023|14:03:36 PDT|",5YJXCAE25JF089783,Tesla,Model X,2018,256048040264
1,Used: A vehicle is considered used if it has b...,"|US $42,000.00|",None,"San Diego, California, United States","|May 12, 2023|19:33:22 PDT|",5YJXCAE49GF001909,Tesla,Model X,2016,155552048142
2,Used,"|US $46,900.00|",None,"Miami, Florida, United States","|May 09, 2023|11:21:20 PDT|",5YJXCAE21HF078337,Tesla,Model X,2017,225550054810
3,Used: A vehicle is considered used if it has b...,"|US $50,500.00|Best offer accepted| |This item...",None,"Hollywood, Florida, United States","|May 09, 2023|09:06:01 PDT|",5YJXCAE20KF155657,Tesla,Model X,2019,256066075946
4,Used: A vehicle is considered used if it has b...,None,"US $63,188.00|","Owings Mills, Maryland, United States","|May 08, 2023|16:23:57 PDT|",5YJXCBE22LF271739,Tesla,Model X,2020,295670955949
5,Used: A vehicle is considered used if it has b...,"|US $47,000.00|",None,"Woodland Hills, California, United States","|May 05, 2023|10:24:10 PDT|",5YJXCAE23KF209291,Tesla,Model X,2019,166070077984
6,Used: A vehicle is considered used if it has b...,"|US $43,995.00|Best offer accepted| |This item...",None,"Tomball, Texas, United States","|May 04, 2023|11:35:05 PDT|",5YJXCBE25GF004844,Tesla,Model X,2016,314556514971
7,Used: A vehicle is considered used if it has b...,"|US $58,000.00|Best offer accepted| |This item...",None,"Port Washington, New York, United States","|Apr 30, 2023|05:36:33 PDT|",5YJXCBE26KF182836,Tesla,Model X,2019,385579292179

# Some light cleaning
- Rename columns
- Sale datetime --> Date
- Just put "used"
- Add a note to all prices, including "winning bid"

In [110]:
remove_start = lambda s: s[1:] if s!=None and s[0]=='|' else s
remove_end = lambda s: s[:-2] if s!=None and s[-1]=='|' else s

df = df.apply(lambda x: x.apply(remove_start))
df = df.apply(lambda x: x.apply(remove_end))
df.head()

,Condition,Price,Winning bid,Located in,Ended,VIN (Vehicle Identification Number),Make,Model,Year,ebay_item_id
0,Used,"US $48,900.00|Best offer accepted| |This item ...",None,"Memphis, Tennessee, United States","May 16, 2023|14:03:36 PD",5YJXCAE25JF089783,Tesla,Model X,2018,256048040264
1,Used: A vehicle is considered used if it has b...,"US $42,000.0",None,"San Diego, California, United States","May 12, 2023|19:33:22 PD",5YJXCAE49GF001909,Tesla,Model X,2016,155552048142
2,Used,"US $46,900.0",None,"Miami, Florida, United States","May 09, 2023|11:21:20 PD",5YJXCAE21HF078337,Tesla,Model X,2017,225550054810
3,Used: A vehicle is considered used if it has b...,"US $50,500.00|Best offer accepted| |This item ...",None,"Hollywood, Florida, United States","May 09, 2023|09:06:01 PD",5YJXCAE20KF155657,Tesla,Model X,2019,256066075946
4,Used: A vehicle is considered used if it has b...,None,"US $63,188.0","Owings Mills, Maryland, United States","May 08, 2023|16:23:57 PD",5YJXCBE22LF271739,Tesla,Model X,2020,295670955949

In [111]:
df.rename(columns={'VIN (Vehicle Identification Number)':'vin'},inplace=True)
df.rename(columns=lambda c: c.lower().replace(' ','_'), inplace=True)
df.head()

,condition,price,winning_bid,located_in,ended,vin,make,model,year,ebay_item_id
0,Used,"US $48,900.00|Best offer accepted| |This item ...",None,"Memphis, Tennessee, United States","May 16, 2023|14:03:36 PD",5YJXCAE25JF089783,Tesla,Model X,2018,256048040264
1,Used: A vehicle is considered used if it has b...,"US $42,000.0",None,"San Diego, California, United States","May 12, 2023|19:33:22 PD",5YJXCAE49GF001909,Tesla,Model X,2016,155552048142
2,Used,"US $46,900.0",None,"Miami, Florida, United States","May 09, 2023|11:21:20 PD",5YJXCAE21HF078337,Tesla,Model X,2017,225550054810
3,Used: A vehicle is considered used if it has b...,"US $50,500.00|Best offer accepted| |This item ...",None,"Hollywood, Florida, United States","May 09, 2023|09:06:01 PD",5YJXCAE20KF155657,Tesla,Model X,2019,256066075946
4,Used: A vehicle is considered used if it has b...,None,"US $63,188.0","Owings Mills, Maryland, United States","May 08, 2023|16:23:57 PD",5YJXCBE22LF271739,Tesla,Model X,2020,295670955949

In [112]:
df['date_ended'] = df['ended'].apply(lambda x: x.split('|')[0])
df.drop('ended',axis=1,inplace=True)
df.head()

,condition,price,winning_bid,located_in,vin,make,model,year,ebay_item_id,date_ended
0,Used,"US $48,900.00|Best offer accepted| |This item ...",None,"Memphis, Tennessee, United States",5YJXCAE25JF089783,Tesla,Model X,2018,256048040264,"May 16, 2023"
1,Used: A vehicle is considered used if it has b...,"US $42,000.0",None,"San Diego, California, United States",5YJXCAE49GF001909,Tesla,Model X,2016,155552048142,"May 12, 2023"
2,Used,"US $46,900.0",None,"Miami, Florida, United States",5YJXCAE21HF078337,Tesla,Model X,2017,225550054810,"May 09, 2023"
3,Used: A vehicle is considered used if it has b...,"US $50,500.00|Best offer accepted| |This item ...",None,"Hollywood, Florida, United States",5YJXCAE20KF155657,Tesla,Model X,2019,256066075946,"May 09, 2023"
4,Used: A vehicle is considered used if it has b...,None,"US $63,188.0","Owings Mills, Maryland, United States",5YJXCBE22LF271739,Tesla,Model X,2020,295670955949,"May 08, 2023"

In [113]:
df['condition'] = df['condition'].apply(lambda x: 'used' if 'used' in x.lower() else x)
df.head()

,condition,price,winning_bid,located_in,vin,make,model,year,ebay_item_id,date_ended
0,used,"US $48,900.00|Best offer accepted| |This item ...",None,"Memphis, Tennessee, United States",5YJXCAE25JF089783,Tesla,Model X,2018,256048040264,"May 16, 2023"
1,used,"US $42,000.0",None,"San Diego, California, United States",5YJXCAE49GF001909,Tesla,Model X,2016,155552048142,"May 12, 2023"
2,used,"US $46,900.0",None,"Miami, Florida, United States",5YJXCAE21HF078337,Tesla,Model X,2017,225550054810,"May 09, 2023"
3,used,"US $50,500.00|Best offer accepted| |This item ...",None,"Hollywood, Florida, United States",5YJXCAE20KF155657,Tesla,Model X,2019,256066075946,"May 09, 2023"
4,used,None,"US $63,188.0","Owings Mills, Maryland, United States",5YJXCBE22LF271739,Tesla,Model X,2020,295670955949,"May 08, 2023"

In [116]:
def format(s):
    arr = s.split('|')

In [117]:
df['new_price'] = df[['price','winning_bid']].apply(lambda x: x.price.split('|')[0] if x.price!=None else x.winning_bid,axis=1)

def temp(s):
    if s.winning_bid!=None:
        return 'winning bid'
    elif len(s.price.split('|'))>1:
        return s.price.split('|')[1]
    else:
        return None
df['price_type'] = df[['price','winning_bid']].apply(temp,axis=1)

df.drop(['price','winning_bid'],axis=1,inplace=True)
df.rename(columns={'new_price':'price'},inplace=True)

df.head()

,condition,located_in,vin,make,model,year,ebay_item_id,date_ended,price,price_type
0,used,"Memphis, Tennessee, United States",5YJXCAE25JF089783,Tesla,Model X,2018,256048040264,"May 16, 2023","US $48,900.00",Best offer accepted
1,used,"San Diego, California, United States",5YJXCAE49GF001909,Tesla,Model X,2016,155552048142,"May 12, 2023","US $42,000.0",None
2,used,"Miami, Florida, United States",5YJXCAE21HF078337,Tesla,Model X,2017,225550054810,"May 09, 2023","US $46,900.0",None
3,used,"Hollywood, Florida, United States",5YJXCAE20KF155657,Tesla,Model X,2019,256066075946,"May 09, 2023","US $50,500.00",Best offer accepted
4,used,"Owings Mills, Maryland, United States",5YJXCBE22LF271739,Tesla,Model X,2020,295670955949,"May 08, 2023","US $63,188.0",winning bid

# Write the data

In [118]:
df.to_csv('./data/ebay_ev_sales_data_cleaned.csv', index=False)